openapi: 3.0.3
info:
  title: Dunelm Loyalty Program API
  description: 'Unified Loyalty Program API for Dunelm plc omnichannel retail.

    Supports customer registration, points earning/redemption, tier management,

    notifications, staff operations, and admin configuration.

    '
  version: 1.0.0
  contact:
    name: Dunelm Loyalty Engineering
    email: loyalty-engineering@Dunelm.co.uk
servers:
- url: https://loyalty.Dunelm.co.uk/api/v1
  description: Production
- url: https://staging.loyalty.Dunelm.co.uk/api/v1
  description: Staging
- url: http://localhost:3000/api/v1
  description: Local Development
security:
- bearerAuth: []
tags:
- name: Auth
  description: Customer registration and authentication
- name: Customers
  description: Customer profile and preferences management
- name: Points
  description: Points earning, redemption, and balance
- name: Tiers
  description: Loyalty tier system
- name: Notifications
  description: Customer notification management
- name: Staff
  description: Store staff operations
- name: Admin
  description: Admin portal operations
- name: Health
  description: Service health checks
paths:
  /auth/register:
    post:
      operationId: registerCustomer
      summary: Register a new customer
      description: Create a new loyalty account. Triggers OTP verification email.
        Rate limited to 5 attempts per IP per hour.
      tags:
      - Auth
      security: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - email
              - phone
              - password
              - termsAndConditionsVersion
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                  example: Jane Smith
                email:
                  type: string
                  format: email
                  example: jane.smith@example.com
                phone:
                  type: string
                  pattern: ^\+[1-9]\d{1,14}$
                  example: '+447700900123'
                password:
                  type: string
                  minLength: 12
                  example: SecureP@ss2026!
                termsAndConditionsVersion:
                  type: string
                  example: '2.1'
      responses:
        '201':
          description: Customer created, OTP sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  customerId:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum:
                    - pending_verification
                  message:
                    type: string
                    example: Verification code sent to your email
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/verify-otp:
    post:
      operationId: verifyOtp
      summary: Verify OTP code
      description: Validate the 6-digit OTP sent during registration or email/phone
        change. Max 5 attempts before 30-minute lockout.
      tags:
      - Auth
      security: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - otpCode
              properties:
                customerId:
                  type: string
                  format: uuid
                otpCode:
                  type: string
                  pattern: ^\d{6}$
                  example: '123456'
      responses:
        '200':
          description: OTP verified successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified:
                    type: boolean
                    example: true
                  accessToken:
                    type: string
                  refreshToken:
                    type: string
                  expiresIn:
                    type: integer
                    example: 900
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/resend-otp:
    post:
      operationId: resendOtp
      summary: Resend OTP code
      description: Resend verification OTP. Rate limited to 3 requests per 10 minutes.
        60-second cooldown between resends.
      tags:
      - Auth
      security: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              properties:
                customerId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: OTP resent
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent:
                    type: boolean
                    example: true
                  DunelmResendAt:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/login:
    post:
      operationId: loginCustomer
      summary: Login with email and password
      description: Authenticate with email/password. Account locked after 5 consecutive
        failures for 30 minutes.
      tags:
      - Auth
      security: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/login/social:
    post:
      operationId: socialLogin
      summary: Login with social provider
      description: Authenticate via Google or Apple OAuth2/OIDC. Creates account if
        new user.
      tags:
      - Auth
      security: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - provider
              - idToken
              properties:
                provider:
                  type: string
                  enum:
                  - google
                  - apple
                idToken:
                  type: string
      responses:
        '200':
          description: Social login successful
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/AuthTokenResponse'
                - type: object
                  properties:
                    isNewAccount:
                      type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/refresh:
    post:
      operationId: refreshToken
      summary: Refresh access token
      description: Exchange a valid refresh token for a new access token. Token rotation
        applied.
      tags:
      - Auth
      security: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - refreshToken
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/logout:
    post:
      operationId: logoutCustomer
      summary: Logout and revoke tokens
      description: Revoke the current refresh token and invalidate the session.
      tags:
      - Auth
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
      responses:
        '204':
          description: Logged out successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/reset-password/request:
    post:
      operationId: requestPasswordReset
      summary: Request password reset
      description: Send a password reset link to the registered email. Link expires
        in 1 hour. Response is always 200 to prevent email enumeration.
      tags:
      - Auth
      security: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Reset link sent if account exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: If an account exists with this email, a reset link has
                      been sent
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /auth/reset-password/confirm:
    post:
      operationId: confirmPasswordReset
      summary: Confirm password reset
      description: Set a new password using the reset token from the email link.
      tags:
      - Auth
      security: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - token
              - newPassword
              properties:
                token:
                  type: string
                newPassword:
                  type: string
                  minLength: 12
      responses:
        '200':
          description: Password reset successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /customers/me/profile:
    get:
      operationId: getMyProfile
      summary: Get current customer profile
      description: Retrieve the authenticated customer's profile including tier, lifetime
        points, and membership date.
      tags:
      - Customers
      responses:
        '200':
          description: Customer profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: updateMyProfile
      summary: Update current customer profile
      description: Update profile fields. Email/phone changes require OTP re-verification.
      tags:
      - Customers
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 255
                email:
                  type: string
                  format: email
                phone:
                  type: string
                  pattern: ^\+[1-9]\d{1,14}$
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /customers/me:
    delete:
      operationId: deleteMyAccount
      summary: Delete customer account
      description: Soft-delete the account. PII is anonymised but ledger retained
        for audit. Irreversible.
      tags:
      - Customers
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204':
          description: Account deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /customers/me/preferences:
    get:
      operationId: getMyPreferences
      summary: Get notification preferences
      description: Retrieve the customer's notification preference settings by category.
      tags:
      - Customers
      responses:
        '200':
          description: Notification preferences
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactional:
                    type: boolean
                    description: Points earned/redeemed/adjusted (cannot fully disable)
                    example: true
                  promotional:
                    type: boolean
                    description: Campaigns, offers, early access (opt-in required)
                    example: false
                  system:
                    type: boolean
                    description: Expiration warnings, account changes, security alerts
                    example: true
                  emailCopies:
                    type: boolean
                    description: Receive email copies of notifications
                    example: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: updateMyPreferences
      summary: Update notification preferences
      description: Update notification preference toggles. Transactional notifications
        cannot be fully disabled.
      tags:
      - Customers
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                transactional:
                  type: boolean
                promotional:
                  type: boolean
                system:
                  type: boolean
                emailCopies:
                  type: boolean
      responses:
        '200':
          description: Preferences updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactional:
                    type: boolean
                  promotional:
                    type: boolean
                  system:
                    type: boolean
                  emailCopies:
                    type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /customers/identify:
    get:
      operationId: identifyCustomer
      summary: Identify customer at POS
      description: Look up a customer by phone, loyalty ID, or QR code for in-store
        identification. Requires API key auth (POS terminal).
      tags:
      - Customers
      security:
      - apiKeyAuth: []
      parameters:
      - name: method
        in: query
        required: true
        schema:
          type: string
          enum:
          - phone
          - loyalty_id
          - qr
      - name: value
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Customer identified
          content:
            application/json:
              schema:
                type: object
                properties:
                  customerId:
                    type: string
                    format: uuid
                  name:
                    type: string
                  tier:
                    type: string
                    example: Gold
                  pointsBalance:
                    type: integer
                    example: 2500
                  memberSince:
                    type: string
                    format: date
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /points/earn:
    post:
      operationId: earnPoints
      summary: Earn points on purchase
      description: Credit points to a customer based on a purchase transaction. Idempotent
        by transaction reference. Requires API key (POS/e-commerce system).
      tags:
      - Points
      security:
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - transactionAmount
              - referenceId
              - channel
              properties:
                customerId:
                  type: string
                  format: uuid
                transactionAmount:
                  type: number
                  format: double
                  minimum: 0.01
                  example: 75.5
                referenceId:
                  type: string
                  description: Order or transaction ID from source system
                  example: ORD-2026-001234
                channel:
                  type: string
                  enum:
                  - online
                  - in_store
                  - app
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      sku:
                        type: string
                      category:
                        type: string
                      amount:
                        type: number
                        format: double
      responses:
        '201':
          description: Points earned
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactionId:
                    type: string
                    format: uuid
                  pointsEarned:
                    type: integer
                    example: 76
                  bonusPoints:
                    type: integer
                    example: 0
                  newBalance:
                    type: integer
                    example: 1576
                  campaignApplied:
                    type: string
                    nullable: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /points/redeem:
    post:
      operationId: redeemPoints
      summary: Redeem points at checkout
      description: Deduct points and apply discount to an order. Validates balance,
        minimum threshold, and max discount rules. Atomic operation with row-level
        locking.
      tags:
      - Points
      security:
      - bearerAuth: []
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - pointsToRedeem
              - orderId
              - orderTotal
              - channel
              properties:
                pointsToRedeem:
                  type: integer
                  minimum: 1
                  example: 500
                orderId:
                  type: string
                  example: ORD-2026-005678
                orderTotal:
                  type: number
                  format: double
                  example: 120.0
                channel:
                  type: string
                  enum:
                  - online
                  - in_store
                  - app
      responses:
        '200':
          description: Points redeemed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  transactionId:
                    type: string
                    format: uuid
                  pointsRedeemed:
                    type: integer
                    example: 500
                  discountApplied:
                    type: number
                    format: double
                    example: 25.0
                  remainingBalance:
                    type: integer
                    example: 1076
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /points/balance:
    get:
      operationId: getPointsBalance
      summary: Get points balance
      description: Retrieve the authenticated customer's current points balance with
        monetary equivalent and tier multiplier.
      tags:
      - Points
      responses:
        '200':
          description: Points balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PointsBalance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /points/transactions:
    get:
      operationId: getPointsTransactions
      summary: Get points transaction history
      description: Paginated list of all points transactions for the authenticated
        customer. Filterable by type and date range.
      tags:
      - Points
      parameters:
      - $ref: '#/components/parameters/PageNumber'
      - $ref: '#/components/parameters/PageSize'
      - name: type
        in: query
        schema:
          type: string
          enum:
          - earn
          - redeem
          - adjustment
          - bonus
          - expired
          - reversal
      - name: fromDate
        in: query
        schema:
          type: string
          format: date
      - name: toDate
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Transaction list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Transaction'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /tiers:
    get:
      operationId: listTiers
      summary: List all loyalty tiers
      description: Retrieve all configured loyalty tiers with thresholds, multipliers,
        and benefits.
      tags:
      - Tiers
      security: []
      responses:
        '200':
          description: Tier list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tier'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /customers/me/tier:
    get:
      operationId: getMyTier
      summary: Get current customer tier
      description: Retrieve the authenticated customer's current tier, progress to
        Dunelm tier, and tier benefits.
      tags:
      - Tiers
      responses:
        '200':
          description: Customer tier info
          content:
            application/json:
              schema:
                type: object
                properties:
                  currentTier:
                    $ref: '#/components/schemas/Tier'
                  lifetimePoints:
                    type: integer
                    example: 5200
                  pointsToDunelmTier:
                    type: integer
                    nullable: true
                    example: 14800
                  DunelmTier:
                    type: string
                    nullable: true
                    example: Platinum
                  progressPercentage:
                    type: number
                    format: double
                    example: 26.0
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /notifications:
    get:
      operationId: listNotifications
      summary: List notifications
      description: Paginated list of the authenticated customer's notifications, newest
        first.
      tags:
      - Notifications
      parameters:
      - $ref: '#/components/parameters/PageNumber'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Notification list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notification'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /notifications/{id}/read:
    patch:
      operationId: markNotificationRead
      summary: Mark notification as read
      description: Mark a single notification as read.
      tags:
      - Notifications
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Notification marked as read
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /notifications/unread-count:
    get:
      operationId: getUnreadNotificationCount
      summary: Get unread notification count
      description: Retrieve the count of unread notifications for badge display.
      tags:
      - Notifications
      responses:
        '200':
          description: Unread count
          content:
            application/json:
              schema:
                type: object
                properties:
                  unreadCount:
                    type: integer
                    example: 3
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /staff/auth/login:
    post:
      operationId: staffLogin
      summary: Staff authentication
      description: Authenticate store staff via employee ID and password. Issues short-lived
        token (4-hour expiry). MFA required for manager/admin roles.
      tags:
      - Staff
      security: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - employeeId
              - password
              properties:
                employeeId:
                  type: string
                  example: EMP-12345
                password:
                  type: string
                terminalId:
                  type: string
                  description: POS terminal identifier for audit
                  example: POS-STORE42-01
      responses:
        '200':
          description: Staff login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  expiresIn:
                    type: integer
                    example: 14400
                  role:
                    type: string
                    enum:
                    - loyalty_staff
                    - loyalty_manager
                    - loyalty_admin
                  requiresMfa:
                    type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /staff/customers/search:
    get:
      operationId: staffSearchCustomers
      summary: Search customers (staff)
      description: Search loyalty customers by phone, email, name, or loyalty ID.
        Requires staff role. PII masked in results.
      tags:
      - Staff
      security:
      - bearerAuth: []
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
          minLength: 2
        description: Search query value
      - name: field
        in: query
        required: true
        schema:
          type: string
          enum:
          - phone
          - email
          - name
          - loyalty_id
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        customerId:
                          type: string
                          format: uuid
                        name:
                          type: string
                        maskedEmail:
                          type: string
                          example: j***@example.com
                        maskedPhone:
                          type: string
                          example: +44***0123
                        tier:
                          type: string
                        pointsBalance:
                          type: integer
                        memberSince:
                          type: string
                          format: date
                  totalResults:
                    type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /staff/customers/{id}/loyalty-summary:
    get:
      operationId: getCustomerLoyaltySummary
      summary: Get customer loyalty summary (staff)
      description: Full loyalty summary for POS display. Includes tier, balance, recent
        transactions, and personalisation hints.
      tags:
      - Staff
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Loyalty summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  customerId:
                    type: string
                    format: uuid
                  name:
                    type: string
                  tier:
                    type: string
                  tierBadgeColor:
                    type: string
                    example: '#FFD700'
                  pointsBalance:
                    type: integer
                  monetaryEquivalent:
                    type: number
                    format: double
                  lifetimePoints:
                    type: integer
                  memberSince:
                    type: string
                    format: date
                  recentTransactions:
                    type: array
                    maxItems: 3
                    items:
                      $ref: '#/components/schemas/Transaction'
                  personalisationHints:
                    type: array
                    items:
                      type: string
                    example:
                    - Gold member — eligible for 10% bonus
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /staff/adjustments:
    post:
      operationId: createPointsAdjustment
      summary: Create manual points adjustment
      description: Add or deduct points manually. Adjustments >500 points require
        manager approval. All adjustments are audit-logged.
      tags:
      - Staff
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - action
              - points
              - reason
              properties:
                customerId:
                  type: string
                  format: uuid
                action:
                  type: string
                  enum:
                  - add
                  - deduct
                points:
                  type: integer
                  minimum: 1
                  example: 200
                reason:
                  type: string
                  enum:
                  - system_error_correction
                  - goodwill_gesture
                  - promotional_credit
                  - fraud_correction
                  - other
                notes:
                  type: string
                  maxLength: 500
                  description: Required if reason is 'other'
      responses:
        '201':
          description: Adjustment created
          content:
            application/json:
              schema:
                type: object
                properties:
                  adjustmentId:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum:
                    - approved
                    - pending_approval
                  pointsAdjusted:
                    type: integer
                  newBalance:
                    type: integer
                    nullable: true
                    description: Null if pending approval
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /staff/adjustments/{id}/approve:
    patch:
      operationId: approvePointsAdjustment
      summary: Approve points adjustment
      description: Approve a pending points adjustment. Requires loyalty_manager role.
      tags:
      - Staff
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - approved
              properties:
                approved:
                  type: boolean
                reviewNotes:
                  type: string
                  maxLength: 500
      responses:
        '200':
          description: Adjustment reviewed
          content:
            application/json:
              schema:
                type: object
                properties:
                  adjustmentId:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum:
                    - approved
                    - rejected
                  newBalance:
                    type: integer
                    nullable: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /admin/dashboard:
    get:
      operationId: getAdminDashboard
      summary: Get admin dashboard metrics
      description: Overview metrics including active members, sign-ups, redemption
        rate, and points liability. Requires loyalty_admin role.
      tags:
      - Admin
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Dashboard metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  activeMembers:
                    type: integer
                    example: 85000
                  signUpsThisMonth:
                    type: integer
                    example: 4200
                  redemptionRate:
                    type: number
                    format: double
                    example: 32.5
                  totalPointsLiability:
                    type: integer
                    example: 12500000
                  activeCampaigns:
                    type: integer
                    example: 3
                  transactionsToday:
                    type: integer
                    example: 1850
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /admin/config/rates:
    get:
      operationId: getConfigRates
      summary: Get loyalty program rates
      description: Retrieve current accrual rate, redemption rate, and rule configuration.
      tags:
      - Admin
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Current rates
          content:
            application/json:
              schema:
                type: object
                properties:
                  accrualRate:
                    type: number
                    format: double
                    description: Points per £1 spent
                    example: 1.0
                  redemptionRate:
                    type: number
                    format: double
                    description: Points per £1 discount
                    example: 20.0
                  minimumRedemption:
                    type: integer
                    description: Minimum points to redeem
                    example: 100
                  maxDiscountPercentage:
                    type: number
                    format: double
                    description: Maximum discount as percentage of order total
                    example: 50.0
                  expirationMonths:
                    type: integer
                    description: Months of inactivity before expiration (0 = never)
                    example: 12
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: updateConfigRates
      summary: Update loyalty program rates
      description: Update accrual/redemption rates and rules. Changes take effect
        immediately. Audit-logged.
      tags:
      - Admin
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accrualRate:
                  type: number
                  format: double
                redemptionRate:
                  type: number
                  format: double
                minimumRedemption:
                  type: integer
                maxDiscountPercentage:
                  type: number
                  format: double
                expirationMonths:
                  type: integer
      responses:
        '200':
          description: Rates updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  updatedAt:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /admin/campaigns:
    get:
      operationId: listCampaigns
      summary: List promotional campaigns
      description: Retrieve all campaigns with status and performance metrics.
      tags:
      - Admin
      security:
      - bearerAuth: []
      parameters:
      - name: status
        in: query
        schema:
          type: string
          enum:
          - draft
          - active
          - paused
          - completed
      responses:
        '200':
          description: Campaign list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Campaign'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: createCampaign
      summary: Create promotional campaign
      description: Create a new bonus points campaign with eligibility rules and budget.
      tags:
      - Admin
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - type
              - value
              - startDate
              - endDate
              - eligibility
              properties:
                name:
                  type: string
                  example: Summer Double Points
                type:
                  type: string
                  enum:
                  - multiplier
                  - fixed_bonus
                  - category_bonus
                value:
                  type: number
                  format: double
                  description: Multiplier (e.g. 2.0) or fixed bonus points
                  example: 2.0
                startDate:
                  type: string
                  format: date-time
                endDate:
                  type: string
                  format: date-time
                eligibility:
                  type: string
                  enum:
                  - all_customers
                  - tier_minimum
                  - new_members_only
                minimumTier:
                  type: string
                  nullable: true
                  description: Required if eligibility is tier_minimum
                applicableCategories:
                  type: array
                  items:
                    type: string
                maxBudget:
                  type: integer
                  nullable: true
                  description: Maximum total bonus points to award (null = unlimited)
      responses:
        '201':
          description: Campaign created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /admin/campaigns/{id}:
    put:
      operationId: updateCampaign
      summary: Update promotional campaign
      description: Update an existing campaign. Active campaigns can be paused or
        have end date extended.
      tags:
      - Admin
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                status:
                  type: string
                  enum:
                  - draft
                  - active
                  - paused
                  - completed
                endDate:
                  type: string
                  format: date-time
                maxBudget:
                  type: integer
                  nullable: true
      responses:
        '200':
          description: Campaign updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /admin/audit:
    get:
      operationId: getAuditLog
      summary: Query audit trail
      description: Paginated, filterable audit log of all state-changing operations.
        Immutable, retained 7 years.
      tags:
      - Admin
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/PageNumber'
      - $ref: '#/components/parameters/PageSize'
      - name: customerId
        in: query
        schema:
          type: string
          format: uuid
      - name: action
        in: query
        schema:
          type: string
      - name: actorType
        in: query
        schema:
          type: string
          enum:
          - customer
          - staff
          - system
      - name: fromDate
        in: query
        schema:
          type: string
          format: date-time
      - name: toDate
        in: query
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Audit entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditEntry'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /webhooks/ecommerce:
    post:
      operationId: receiveEcommerceWebhook
      summary: Receive e-commerce event
      description: Webhook receiver for e-commerce platform purchase/refund events.
        Validates HMAC-SHA256 signature. Idempotent by order_id + event_type.
      tags:
      - Webhooks
      security:
      - apiKeyAuth: []
      parameters:
      - name: X-Webhook-Signature
        in: header
        required: true
        schema:
          type: string
        description: HMAC-SHA256 signature of request body
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - eventType
              - orderId
              - customerEmail
              - totalAmount
              properties:
                eventType:
                  type: string
                  enum:
                  - order.completed
                  - order.refunded
                orderId:
                  type: string
                  example: ECOM-2026-789012
                customerEmail:
                  type: string
                  format: email
                totalAmount:
                  type: number
                  format: double
                  example: 149.99
                currency:
                  type: string
                  example: GBP
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      sku:
                        type: string
                      name:
                        type: string
                      category:
                        type: string
                      amount:
                        type: number
                        format: double
                timestamp:
                  type: string
                  format: date-time
      responses:
        '202':
          description: Webhook accepted for processing
          content:
            application/json:
              schema:
                type: object
                properties:
                  accepted:
                    type: boolean
                    example: true
                  correlationId:
                    type: string
                    format: uuid
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /webhooks/pos:
    post:
      operationId: receivePosWebhook
      summary: Receive POS transaction event
      description: Webhook receiver for POS system purchase/refund events. Validates
        API key. Idempotent by transaction_id.
      tags:
      - Webhooks
      security:
      - apiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - eventType
              - transactionId
              - customerId
              - totalAmount
              - storeId
              properties:
                eventType:
                  type: string
                  enum:
                  - transaction.completed
                  - transaction.refunded
                transactionId:
                  type: string
                  example: POS-STORE42-20260518-001
                customerId:
                  type: string
                  format: uuid
                totalAmount:
                  type: number
                  format: double
                  example: 85.0
                storeId:
                  type: string
                  example: STORE-042
                terminalId:
                  type: string
                  example: POS-STORE42-01
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      sku:
                        type: string
                      category:
                        type: string
                      amount:
                        type: number
                        format: double
                timestamp:
                  type: string
                  format: date-time
      responses:
        '202':
          description: Event accepted for processing
          content:
            application/json:
              schema:
                type: object
                properties:
                  accepted:
                    type: boolean
                    example: true
                  correlationId:
                    type: string
                    format: uuid
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /health:
    get:
      operationId: healthCheck
      summary: Service health check
      description: Liveness probe. Returns 200 if the service is running.
      tags:
      - Health
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: healthy
                  version:
                    type: string
                    example: 1.0.0
                  uptime:
                    type: string
                    example: 72h15m30s
        '500':
          $ref: '#/components/responses/InternalServerError'
  /health/ready:
    get:
      operationId: readinessCheck
      summary: Service readiness check
      description: Readiness probe. Returns 200 only if all dependencies (DB, cache,
        messaging) are connected.
      tags:
      - Health
      security: []
      responses:
        '200':
          description: Service is ready
          content:
            application/json:
              schema:
                type: object
                properties:
                  ready:
                    type: boolean
                    example: true
                  checks:
                    type: object
                    properties:
                      database:
                        type: string
                        enum:
                        - connected
                        - disconnected
                      cache:
                        type: string
                        enum:
                        - connected
                        - disconnected
                      messaging:
                        type: string
                        enum:
                        - connected
                        - disconnected
        '503':
          description: Service not ready
          content:
            application/json:
              schema:
                type: object
                properties:
                  ready:
                    type: boolean
                    example: false
                  checks:
                    type: object
                    properties:
                      database:
                        type: string
                      cache:
                        type: string
                      messaging:
                        type: string
  /customers/me/qr-code:
    get:
      operationId: getCustomerQrCode
      summary: Generate dynamic QR code for POS identification
      description: 'Returns a time-limited encrypted QR code payload containing the
        customer''s

        loyalty identifier. QR refreshes every 60 seconds. Used by store associates

        to scan and identify the customer at POS.

        '
      tags:
      - Customers
      security:
      - bearerAuth: []
      responses:
        '200':
          description: QR code payload generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      qrPayload:
                        type: string
                        description: Encrypted payload for QR code rendering
                      expiresAt:
                        type: string
                        format: date-time
                      refreshInSeconds:
                        type: integer
                        example: 60
        '401':
          $ref: '#/components/responses/Unauthorized'
  /customers/me/dashboard:
    get:
      operationId: getCustomerDashboard
      summary: Get aggregated loyalty dashboard data
      description: 'Returns all data needed to render the customer home screen in
        a single call:

        points balance, tier info, progress to Dunelm tier, recent transactions, and

        active promotions. BFF-optimised endpoint to reduce mobile round-trips.

        '
      tags:
      - Customers
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Dashboard data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      balance:
                        $ref: '#/components/schemas/PointsBalance'
                      tier:
                        $ref: '#/components/schemas/Tier'
                      DunelmTierProgress:
                        type: object
                        properties:
                          DunelmTierName:
                            type: string
                          pointsRequired:
                            type: integer
                          pointsEarned:
                            type: integer
                          progressPercent:
                            type: number
                      recentTransactions:
                        type: array
                        maxItems: 5
                        items:
                          $ref: '#/components/schemas/Transaction'
                      activePromotions:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                            name:
                              type: string
                            description:
                              type: string
                            endsAt:
                              type: string
                              format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
  /customers/me/accounts/link:
    post:
      operationId: initiateAccountLinking
      summary: Initiate account linking between online and in-store accounts
      description: 'Starts the account linking process. Customer provides the email
        or phone

        of their other account. System sends OTP to that email/phone to verify ownership.

        Once verified via confirm endpoint, accounts are merged.

        '
      tags:
      - Customers
      security:
      - bearerAuth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - targetIdentifier
              - identifierType
              properties:
                targetIdentifier:
                  type: string
                  description: Email or phone of the account to link
                identifierType:
                  type: string
                  enum:
                  - email
                  - phone
      responses:
        '200':
          description: OTP sent to target identifier for verification
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      linkRequestId:
                        type: string
                        format: uuid
                      otpSentTo:
                        type: string
                        description: Masked identifier where OTP was sent
                      expiresAt:
                        type: string
                        format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /customers/me/accounts/link/confirm:
    post:
      operationId: confirmAccountLinking
      summary: Confirm account linking with OTP verification
      description: 'Completes the account linking by verifying the OTP sent to the
        target account.

        On success, points balances are merged, transaction histories combined, and

        the secondary account is marked as merged.

        '
      tags:
      - Customers
      security:
      - bearerAuth: []
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - linkRequestId
              - otpCode
              properties:
                linkRequestId:
                  type: string
                  format: uuid
                otpCode:
                  type: string
                  pattern: ^\d{6}$
      responses:
        '200':
          description: Accounts linked successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      mergedBalance:
                        type: integer
                      transactionsMerged:
                        type: integer
                      linkedAt:
                        type: string
                        format: date-time
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /customers/me/badges:
    get:
      operationId: getCustomerBadges
      summary: Get customer's earned and available badges
      description: 'Returns all badges with their earned/locked status for the customer.

        Earned badges show the date earned. Locked badges show progress toward earning.

        '
      tags:
      - Customers
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Badge list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                        description:
                          type: string
                        iconUrl:
                          type: string
                          format: uri
                        rarity:
                          type: string
                          enum:
                          - common
                          - rare
                          - epic
                        earned:
                          type: boolean
                        earnedAt:
                          type: string
                          format: date-time
                          nullable: true
                        progress:
                          type: object
                          nullable: true
                          properties:
                            current:
                              type: integer
                            target:
                              type: integer
                            percent:
                              type: number
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token (15-minute expiry)
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for POS terminals and e-commerce integrations
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: Unique key to ensure idempotent processing of write operations
    PageNumber:
      name: pageNumber
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
      description: Page number for pagination
    PageSize:
      name: pageSize
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: Number of items per page
  schemas:
    Customer:
      type: object
      properties:
        customerId:
          type: string
          format: uuid
        name:
          type: string
          example: Jane Smith
        email:
          type: string
          format: email
          example: jane.smith@example.com
        emailVerified:
          type: boolean
          example: true
        phone:
          type: string
          example: '+447700900123'
        phoneVerified:
          type: boolean
          example: true
        loyaltyId:
          type: string
          example: '1234567890'
        status:
          type: string
          enum:
          - pending_verification
          - active
          - suspended
          - deleted
        tier:
          type: string
          example: Gold
        lifetimePoints:
          type: integer
          example: 5200
        memberSince:
          type: string
          format: date
          example: '2026-01-15'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      example:
        customerId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        name: Jane Smith
        email: jane.smith@example.com
        emailVerified: true
        phone: '+447700900123'
        phoneVerified: true
        loyaltyId: '1234567890'
        status: active
        tier: Gold
        lifetimePoints: 5200
        memberSince: '2026-01-15'
        createdAt: '2026-01-15T10:30:00Z'
        updatedAt: '2026-05-18T09:15:00Z'
    PointsBalance:
      type: object
      properties:
        availablePoints:
          type: integer
          example: 2500
        monetaryEquivalent:
          type: number
          format: double
          description: Value in GBP based on current redemption rate
          example: 125.0
        pendingPoints:
          type: integer
          description: Points from transactions still processing
          example: 0
        tierMultiplier:
          type: number
          format: double
          example: 1.5
        lastUpdated:
          type: string
          format: date-time
      example:
        availablePoints: 2500
        monetaryEquivalent: 125.0
        pendingPoints: 0
        tierMultiplier: 1.5
        lastUpdated: '2026-05-18T11:45:00Z'
    Transaction:
      type: object
      properties:
        transactionId:
          type: string
          format: uuid
        type:
          type: string
          enum:
          - earn
          - redeem
          - adjustment
          - bonus
          - expired
          - reversal
        points:
          type: integer
          description: Positive for credits, negative for debits
          example: 76
        runningBalance:
          type: integer
          example: 2576
        referenceId:
          type: string
          description: Order ID, adjustment ID, or campaign ID
          example: ORD-2026-001234
        channel:
          type: string
          enum:
          - online
          - in_store
          - app
          - system
        description:
          type: string
          example: Purchase at Dunelm Oxford Street
        createdAt:
          type: string
          format: date-time
      example:
        transactionId: f1e2d3c4-b5a6-7890-fedc-ba0987654321
        type: earn
        points: 76
        runningBalance: 2576
        referenceId: ORD-2026-001234
        channel: online
        description: Online purchase
        createdAt: '2026-05-18T14:30:00Z'
    Tier:
      type: object
      properties:
        tierId:
          type: string
          format: uuid
        name:
          type: string
          example: Gold
        threshold:
          type: integer
          description: Lifetime points required to reach this tier
          example: 5000
        earnRateMultiplier:
          type: number
          format: double
          example: 1.5
        badgeColor:
          type: string
          example: '#FFD700'
        benefits:
          type: array
          items:
            type: string
          example:
          - 1.5x points on all purchases
          - Early access to sales (24 hours)
          - Free delivery on all orders
      example:
        tierId: c3d4e5f6-a7b8-9012-cdef-345678901234
        name: Gold
        threshold: 5000
        earnRateMultiplier: 1.5
        badgeColor: '#FFD700'
        benefits:
        - 1.5x points on all purchases
        - Early access to sales (24 hours)
        - Free delivery on all orders
    Notification:
      type: object
      properties:
        notificationId:
          type: string
          format: uuid
        title:
          type: string
          example: Points Earned!
        body:
          type: string
          example: 'You earned 76 points on your online purchase! New balance: 2,576
            points.'
        type:
          type: string
          enum:
          - transactional
          - promotional
          - system
        read:
          type: boolean
          example: false
        createdAt:
          type: string
          format: date-time
      example:
        notificationId: d4e5f6a7-b8c9-0123-def4-567890123456
        title: Points Earned!
        body: 'You earned 76 points on your online purchase! New balance: 2,576 points.'
        type: transactional
        read: false
        createdAt: '2026-05-18T14:30:05Z'
    Campaign:
      type: object
      properties:
        campaignId:
          type: string
          format: uuid
        name:
          type: string
          example: Summer Double Points
        type:
          type: string
          enum:
          - multiplier
          - fixed_bonus
          - category_bonus
        value:
          type: number
          format: double
          example: 2.0
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        eligibility:
          type: string
          enum:
          - all_customers
          - tier_minimum
          - new_members_only
        minimumTier:
          type: string
          nullable: true
        applicableCategories:
          type: array
          items:
            type: string
          nullable: true
        maxBudget:
          type: integer
          nullable: true
        budgetUsed:
          type: integer
          example: 45000
        status:
          type: string
          enum:
          - draft
          - active
          - paused
          - completed
        createdAt:
          type: string
          format: date-time
      example:
        campaignId: e5f6a7b8-c9d0-1234-ef56-789012345678
        name: Summer Double Points
        type: multiplier
        value: 2.0
        startDate: '2026-06-01T00:00:00Z'
        endDate: '2026-06-30T23:59:59Z'
        eligibility: all_customers
        minimumTier: null
        applicableCategories: null
        maxBudget: 500000
        budgetUsed: 45000
        status: active
        createdAt: '2026-05-15T09:00:00Z'
    AuditEntry:
      type: object
      properties:
        eventId:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        actorType:
          type: string
          enum:
          - customer
          - staff
          - system
        actorId:
          type: string
          format: uuid
        action:
          type: string
          example: points_earned
        entityType:
          type: string
          example: points_ledger
        entityId:
          type: string
          format: uuid
        beforeState:
          type: object
          nullable: true
        afterState:
          type: object
          nullable: true
        sourceSystem:
          type: string
          enum:
          - app
          - web
          - pos
          - admin
          - system
        ipAddress:
          type: string
          example: 192.168.1.100
        correlationId:
          type: string
          format: uuid
    PaginationMeta:
      type: object
      properties:
        pageNumber:
          type: integer
          example: 1
        pageSize:
          type: integer
          example: 20
        totalItems:
          type: integer
          example: 156
        totalPages:
          type: integer
          example: 8
        hasDunelmPage:
          type: boolean
          example: true
        hasPreviousPage:
          type: boolean
          example: false
    ProblemDetails:
      type: object
      description: RFC 7807 Problem Details for HTTP APIs
      properties:
        type:
          type: string
          format: uri
          description: URI reference identifying the problem type
          example: https://loyalty.Dunelm.co.uk/problems/validation-error
        title:
          type: string
          description: Short human-readable summary
          example: Validation Error
        status:
          type: integer
          description: HTTP status code
          example: 422
        detail:
          type: string
          description: Human-readable explanation specific to this occurrence
          example: The 'email' field must be a valid email address
        instance:
          type: string
          format: uri
          description: URI reference identifying the specific occurrence
          example: /api/v1/auth/register
        traceId:
          type: string
          description: Correlation ID for distributed tracing
          example: abc123def456
        errors:
          type: array
          description: Detailed field-level validation errors
          items:
            type: object
            properties:
              field:
                type: string
                example: email
              message:
                type: string
                example: Must be a valid email address
              code:
                type: string
                example: INVALID_FORMAT
      example:
        type: https://loyalty.Dunelm.co.uk/problems/validation-error
        title: Validation Error
        status: 422
        detail: One or more fields failed validation
        instance: /api/v1/auth/register
        traceId: abc123def456
        errors:
        - field: email
          message: Must be a valid email address
          code: INVALID_FORMAT
    AuthTokenResponse:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        expiresIn:
          type: integer
          description: Access token expiry in seconds
          example: 900
        tokenType:
          type: string
          example: Bearer
  responses:
    BadRequest:
      description: Bad Request — malformed request syntax or invalid parameters
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: https://loyalty.Dunelm.co.uk/problems/bad-request
            title: Bad Request
            status: 400
            detail: Request body is malformed or missing required fields
            traceId: trace-001
    Unauthorized:
      description: Unauthorized — missing or invalid authentication credentials
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: https://loyalty.Dunelm.co.uk/problems/unauthorized
            title: Unauthorized
            status: 401
            detail: Access token is missing, expired, or invalid
            traceId: trace-002
    Forbidden:
      description: Forbidden — authenticated but insufficient permissions
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: https://loyalty.Dunelm.co.uk/problems/forbidden
            title: Forbidden
            status: 403
            detail: You do not have permission to perform this action
            traceId: trace-003
    NotFound:
      description: Not Found — requested resource does not exist
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: https://loyalty.Dunelm.co.uk/problems/not-found
            title: Not Found
            status: 404
            detail: The requested resource was not found
            traceId: trace-004
    UnprocessableEntity:
      description: Unprocessable Entity — request understood but validation failed
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: https://loyalty.Dunelm.co.uk/problems/validation-error
            title: Validation Error
            status: 422
            detail: One or more fields failed validation
            traceId: trace-005
            errors:
            - field: email
              message: Email already registered
              code: DUPLICATE
    InternalServerError:
      description: Internal Server Error — unexpected server-side failure
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
          example:
            type: https://loyalty.Dunelm.co.uk/problems/internal-error
            title: Internal Server Error
            status: 500
            detail: An unexpected error occurred. Please try again later.
            traceId: trace-006
